# Functions in Python

In [1]:
num=20

In [2]:
def even(num):
    if num%2==0:
        print('the number is even')
    else:
        print('odd')

In [3]:
even(24)

the number is even

### ------------------------------------------------------------------------

In [4]:
def hw():
    print('hello world')

In [5]:
hw()

hello world

# ----------------------------------

In [8]:
def hw():
    print("hello world")

In [9]:
var = hw()

hello world

In [11]:
print(var)

None

# --------------------------------------------------------

In [14]:
def hw():
    return "hello world"

In [15]:
var = hw()

In [16]:
print(var)

hello world

# ------------------------------------------------

In [17]:
def sum(a,b):
    return a+b

In [18]:
sum(10,20)

30

In [20]:
#------------------
var = sum(22,28)
print(var)

50

In [21]:
#-----------------------
def name(name, age=25):
    print("my name is {} and age is {}".format(name,age))

In [23]:
name("Abhi")

my name is Abhi and age is 25

In [25]:
#---------------------
def name(name, age):
    print('my name is {} and my age is {}'.format(name,age))

In [27]:
name('abhi',25)

my name is abhi and my age is 25

# args and **krgs

In [28]:
def name(*args, **kwargs):
    print(args)
    print(kwargs)

In [29]:
name("abhishek", "BJ", age=25, place='Naples')

('abhishek', 'BJ')
{'age': 25, 'place': 'Naples'}

In [30]:
name("abhishek", "BJ","Karthik", age=25, place='Naples')

('abhishek', 'BJ', 'Karthik')
{'age': 25, 'place': 'Naples'}

In [33]:
lst = ["ABhi","BJ"]
dict_arg = {'age': 25, 'place' :'Naples'}

In [34]:
name(lst,dict_arg)

(['ABhi', 'BJ'], {'age': 25, 'place': 'Naples'})
{}

In [35]:
name(*lst)

('ABhi', 'BJ')
{}

In [37]:
name(*lst,**dict_arg)

('ABhi', 'BJ')
{'age': 25, 'place': 'Naples'}

In [39]:
#------------------------------------

In [48]:
lst = [1,2,3,4,5,6,7,8,9]

In [49]:
def eve_odd():
    even_sum=0
    odd_sum=0
    for i in lst:
        if i%2==0:
            even_sum=even_sum+i
        else:
            odd_sum=odd_sum+i
    return even_sum,odd_sum

In [50]:
eve_odd()

(20, 25)

In [51]:
#----------------------
lst = [1,2,3,4,5,6,7,8,9]
def eve_odd(lst):
    even_sum = 0
    odd_sum = 0
    for i in lst:
        if i%2==0:
            even_sum=even_sum+i
        else:
            odd_sum=odd_sum+i
    return even_sum,odd_sum

In [52]:
eve_odd(lst)

(20, 25)