# Python Data Structure and Boolean

1. Boolean
2. Boolean & Logical operators
3. Lists
4. Comparison Operators
5. Dictionaries
6. Tuples
7. Sets

In [1]:
True,False

(True, False)

In [2]:
True

True

In [3]:
bool()

False

In [4]:
name = "Abhishek"

In [34]:
print(name.capitalize())
print(name.casefold())
print(name.center(10))
print(name.count('h'))
print(name.encode())
print(name.endswith(""))
print(name.endswith('k'))
print(name.upper())
print(name.isalnum())

print(name.isdigit())
print(name.isdigit())
print(name.istitle())
print(name.isspace())
print(name.endswith('k'))

Abhishek
abhishek
 Abhishek
2
b'Abhishek'
True
True
ABHISHEK
True
False
False
True
False
True

# Boolean & Logical Operators

In [35]:
True and False

False

In [36]:
True and True

True

In [37]:
name_example = "abhishek"
str_example = "world"

In [39]:
name_example.isalpha() or str_example.isnumeric()

True

In [40]:
name_example.isalpha() and str_example.isnumeric()

False

# List

list isa datat structure in python that is mutable or changeable, ordered sequence of elements. each element or value that is inside of a list is called an item. 

just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

In [41]:
type([])

list

In [42]:
lst_example = ["CS", "IS", "Physics", 400,66,8,99]

In [43]:
len(lst_example)

7

In [44]:
type(lst_example)

list

# Append

In [46]:
#apend is used add elements in the list
lst_example.append("Abhishek")

In [47]:
lst_example

['CS', 'IS', 'Physics', 400, 66, 8, 99, 'Abhishek']

In [50]:
#inexing in list
lst_example[4]

66

In [51]:
lst_example[2]

'Physics'

In [52]:
lst_example[1:]

['IS', 'Physics', 400, 66, 8, 99, 'Abhishek']

In [53]:
lst_example[1:5]

['IS', 'Physics', 400, 66]

In [54]:
lst_example[:19]

['CS', 'IS', 'Physics', 400, 66, 8, 99, 'Abhishek']

In [56]:
lst_example.append(["jdjdj",100])

In [58]:
lst_example

['CS',
 'IS',
 'Physics',
 400,
 66,
 8,
 99,
 'Abhishek',
 ['jdjdj', 100],
 ['jdjdj', 100]]

# Insert

In [59]:
lst_example.insert(2,"Naples")

In [60]:
lst_example

['CS',
 'IS',
 'Naples',
 'Physics',
 400,
 66,
 8,
 99,
 'Abhishek',
 ['jdjdj', 100],
 ['jdjdj', 100]]

# Extend

In [61]:
lst = [1,2,3,4,5,6]

In [62]:
lst.extend([8,9])

In [63]:
lst

[1, 2, 3, 4, 5, 6, 8, 9]

# various operation in lst

In [64]:
sum(lst)

38

In [91]:
lst

[1, 2, 33, 44, 55, 1, 1, 1]

In [92]:
lst*2

[1, 2, 33, 44, 55, 1, 1, 1, 1, 2, 33, 44, 55, 1, 1, 1]

# pop() method

In [65]:
lst.pop()

9

In [66]:
lst

[1, 2, 3, 4, 5, 6, 8]

In [67]:
lst.pop(1)

2

In [68]:
lst

[1, 3, 4, 5, 6, 8]

# count()

In [78]:
lst = [1,2,33,44,55,1,1,1]

In [79]:
lst.count(1)

4

In [80]:
lst.index(1)

0

In [89]:
lst.index(1,0,7)

5

In [90]:
lst.index(1,1,7)

5