# SETS

A set is an unordered collection data type that is iterable, mutable and has no duplicate elelmets
python set class represents the mathematcial notion of a set. This is based on a datta structure known as hash table

In [3]:
##defining an empty set

set_var = set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [4]:
set_var = {1,2,3,4,3}

In [5]:
set_var

{1, 2, 3, 4}

In [8]:
set_var = {"Abhishek","Karthik","Sujith","Niranjan"}
print(set_var)
type(set_var)

{'Sujith', 'Karthik', 'Niranjan', 'Abhishek'}

set

In [9]:
##inbuilt function in sets
set_var.add("Dhanush")

In [10]:
set_var

{'Abhishek', 'Dhanush', 'Karthik', 'Niranjan', 'Sujith'}

In [12]:
set1 = {1,2,3,4,5}
set2 = {1,2,3,4,5,6}

In [13]:
#difference
set2.difference(set1)

{6}

In [14]:
#difference update
set2.difference_update(set1)

In [15]:
print(set2)

{6}

In [17]:
set1 = {1,2,3,4,5}
set2 = {1,2,3,4,5,6}
set2.intersection(set1)

{1, 2, 3, 4, 5}

In [18]:
set2.intersection_update(set1)

In [19]:
set2

{1, 2, 3, 4, 5}

# Dictionaries

A dictionaries is a collection which is unordered, changeable and indexed. In python dictionaries are written with curly brackets and then have keys and value

In [20]:
dic = {}

In [21]:
type(dic)

dict

In [22]:
ex_dict = {1,2,3,4,5,6,7,8}

In [23]:
type(ex_dict)

set

In [24]:
#create a dictionary
my_dict = {"sub1":"Maths","sub2":"Science","sub3":"English"}

In [25]:
my_dict

{'sub1': 'Maths', 'sub2': 'Science', 'sub3': 'English'}

In [27]:
#accesing the items(value) based on keys
my_dict['sub2']

'Science'

In [28]:
#even loop through the dictionaries keys

for i in my_dict:
    print(i)

sub1
sub2
sub3

In [30]:
#we can access both keya nd values

for i in my_dict.items():
    print(i)

('sub1', 'Maths')
('sub2', 'Science')
('sub3', 'English')

In [31]:
#adding items in dictionaries

my_dict['sub4']="Italian"

In [32]:
my_dict

{'sub1': 'Maths', 'sub2': 'Science', 'sub3': 'English', 'sub4': 'Italian'}

In [33]:
my_dict['sub1'] = 'French'

In [34]:
my_dict

{'sub1': 'French', 'sub2': 'Science', 'sub3': 'English', 'sub4': 'Italian'}

# Nested Dictionary

In [35]:
car1_model = {"BMW":1900}
car2_model = {"Mercedes":1910}
car3_model = {"Volvo":1920}

In [36]:
car_type = {'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [37]:
print(car_type)

{'car1': {'BMW': 1900}, 'car2': {'Mercedes': 1910}, 'car3': {'Volvo': 1920}}

In [38]:
print(car_type['car1'])

{'BMW': 1900}

In [39]:
print(car_type['car2']['Mercedes'])

1910

# Tuples

tuple is not mutable

In [40]:
#create an empty Tuples
my_tuple = ()

In [41]:
type(my_tuple)

tuple

In [42]:
my_tuple = ("Abhishek","Ankur","Alberto" )

In [43]:
my_tuple[1]

'Ankur'

In [44]:
my_tuple[1] = "Dhanush"

TypeError: 'tuple' object does not support item assignment

In [45]:
my_tuple = ("Hello","world")

In [46]:
my_tuple

('Hello', 'world')

In [47]:
type(my_tuple)

tuple

In [48]:
#inbuilt function
my_tuple.count('hello')

0

In [49]:
my_tuple.count('Hello')

1